@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    max-width: 100%;
    font-family: 'Poppins';
}

body::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

html{
    scroll-behavior:smooth
}

body::-webkit-scrollbar
{
    width: 8px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

a{
    text-decoration: none;
}

.row>*{
    padding-right: 0!important;
    padding-left: 0!important;
}

/* ------------------------------------------------------------------------------------------------------------------- */
/* SINAQLAR */

#basliq{
    font-size: 40px;
    line-height: 60px;
    /* identical to box height */

    font-weight: 600;
    color: #48D597;
}

#basliq + hr{
    width: 117px;
    height: 4px;

    background: #48D597;
    border: none;
    opacity: 0.9;
}

.sinaqlar{
    width: 313px;
    height: 221px;
    left: 133px;
    top: 203px;
    background: #C6E7F1;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.sinaqlar:hover{
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.3);
}
.sinaqlar_center{
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
    
}


.sinaqlar_btn{
    width: 170px;
    height: 50px;
    left: 204px;
    top: 362px;
    border: none;
    border-radius: 8px;
    margin-top: 3vh;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    color: #FFFFFF;
    font-weight: 600;
}

#btn1:hover{
    background: #14B3E7!important;
}
#btn2:hover{
    background: #DDD521!important;
}
#btn3:hover{
    background: #3CE221!important;
}
#btn4:hover{
    background: #EF3838!important;
}
#btn5:hover{
    background: #8250EA!important;
}
#btn6:hover{
    background: #E74DCE!important;
}

#daha_cox{
    width: 100px;
    height: 40px;
    left: 633px;
    top: 702px;

    background: #FFFFFF;
    border: 2px solid #48D597;
    border-radius: 20px;

    font-size: 15px;
    line-height: 1.7rem;
    /* identical to box height */

    color: #48D597;
    
}

#daha_cox:hover{
    background: #48D597;
    color: white;
}

.text-bold{
    font-weight: 600;
}


/* ------------------------------------------------------------------------------------------------------------------- */
/* BAL CEDVELLERI */

.bal_cedvel{
    width: 323px;
    height: 282px;
    left: 133px;
    top: 1678px;

    border-radius: 15px;
    margin-bottom: 2vh;
}
.bal_cedvel + h3{
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */


    color: #1F1F1F;
}

.bal_text{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */


    color: #1F1F1F;
}

.bal_hr{
    width: 260px;
    height: 0px;
    left: 164px;
    top: 1778px;
            
    border: 1px solid #FFFFFF;
}

.bal_basliq{
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    /* identical to box height */
    
    
    color: #48D597;
    
}
.bal_basliq + hr{
    width: 220px;
    height: 4px;
    left: 573px;
    top: 1644px;

    background: #48D597;
    opacity: 0.9;
    border: none;
}

/* ------------------------------------------------------------------------------------------------------------------- */

@media (max-width: 576px) {
.sinaqlar{
    margin: 0 auto 2vh auto;
}
}

@media (min-width: 576px) {
    .sinaqlar{
        margin: 0 auto 2vh auto;
    }
    }


      
/* ------------------------------------------------------------------------------------------------------------------- */
/* .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  } */

  @media (min-width:992px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
   
  }
  }
  
  @media (max-width:1200px) {
  
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    
  }
  }
  @media (max-width:992px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
   
  }
  }
  @media (max-width:768px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
  }
  }
